html, body {
    width: 320px;
    height: 460px;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(48,72,95);
    
}
#clock {
    font-family: "Helvetica Neue";
    font-size: 6em;
    color: white;
    font-weight: 100;
    text-align: center;
}
